@model NetCoreStockChart.Models.order

@{
    ViewData["Title"] = "Order Create";
}




<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currentprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currentprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paidamount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paidamount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

